body{
    margin:8px, 8px, 8px, 8px;
    background-color: rgb(79, 156, 224);
}

@keyframes div-animate { 
    0% {background-color: rgba(155, 107, 201, 0.979);}
    25% {background-color: rgb(159, 101, 212);}
    50% {background-color: rgb(110, 119, 238);}
    75% {background-color: rgb(211, 127, 211);}
    100% {background-color: rgba(155, 107, 201, 0.979);}
}

div{
  padding: 20rem, 20rem, 20rem, 20rem;
  border-color: rgba(155, 107, 201, 0.979);
  background-color: rgba(155, 107, 201, 0.979);
  animation-name: div-animate;
  animation-duration: 6s;
  animation-iteration-count:infinite;
}

#img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20rem, 20rem, 20rem, 20rem;
  border-color: rgba(155, 107, 201, 0.979);
  background-color: rgba(155, 107, 201, 0.979);
  animation-name: div-animate;
  animation-duration: 6s;
  animation-iteration-count:infinite;
  animation-direction:alternate;
}

